<div class="create-course-panel" [formGroup]="form">

  <h2 class="title">Create New Course</h2>

  <mat-form-field>

    <input matInput placeholder="Course title" formControlName="title" #title>

    <mat-hint align="end">

      {{title.value.length}} / 60

    </mat-hint>

    <mat-error *ngIf="courseTitle.errors?.minlength">

      A minimum length of 5 characters is required.

    </mat-error>

  </mat-form-field>

  <mat-form-field>

    <input matInput placeholder="Course url" formControlName="url">

  </mat-form-field>

  <mat-form-field>

    <input matInput placeholder="Thumbnail url" formControlName="iconUrl">

  </mat-form-field>

  <mat-form-field>

    <mat-select formControlName="category" placeholder="Select category">
      <mat-option>None</mat-option>
      <mat-option value="BEGINNER">Beginner</mat-option>
      <mat-option value="INTERMEDIATE">Intermediate</mat-option>
      <mat-option value="ADVANCED">Advanced</mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field appearance="outline">

        <textarea matInput placeholder="Description" formControlName="longDescription">
        </textarea>

  </mat-form-field>

  <div class="form-actions">

    <button mat-raised-button color="accent" (click)="onCreateCourse()" [disabled]="!form.valid">
      <mat-icon>add</mat-icon>
      Create Course
    </button>

  </div>

</div>


